body {
  background: url(https://cdn.discordapp.com/attachments/813939912419704833/920888728501768213/FGJ2qIiVcAIAVlA.jpeg) center no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: Minecraftia, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center
}

body:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10
}

h1,
h2 {
  font-weight: 400;
  letter-spacing: 0px;
  color: #fff;
}

.card {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 40%;
  min-width: 50%;
  background: #243447;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  overflow: hidden;
  z-index: 999;
}

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 180px;
  box-shadow: 0 4px 3px #0002;
  overflow: hidden;
}

.card img {
  width: 100%;
  transition: all 1s ease;
  z-index: 0
}

.image {
  width: 100%;
  height: 180px;
  cursor: crosshair;
  overflow: hidden;
}

.image:hover img {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.header h1 {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  text-shadow: 2px 2px #3F3F15;
  color: #fff;
  /*text-transform: uppercase;*/
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.header h2 {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 0 10px;
  text-shadow: 2px 2px #3F3F15;
  color: #fff;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.icon {
  position: absolute;
  background: #fff;
  right: 10px;
  top: 135px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 4px 3px #0002;
  z-index: 9
}

#rest {
  padding: 30px 15px;
  line-height: 30px;
  color: #000d42
}